<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-12">
              <div class="card">
                  <div class="card-header card-header-danger">
                      <h4 class="card-title ">Tabla de usuarios</h4>
                      <p class="card-category"> Visualiza a todos los usuarios creados aca!</p>
                  </div>
                  <div class="card-body">
                    
                      <div class="table-responsive" *ngIf="!waiting">
                        <table datatable [dtOptions]="dtOptions" class="row-border hover">
                        <thead>
                          <tr>
                            <th>ID</th>
                            <th>Nombre</th>
                            <th>Tipo de usuario</th>
                            <th>Correo electronico</th>
                            <th>Editar</th>
                            <th>Borrar</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr *ngFor="let user of users">
                            <td>{{user.id}}</td>
                            <td>{{user.name}}</td>
                            <td>{{user.type_user}}</td>
                            <td>{{user.mail}}</td>
                            <td>
                                <button mat-raised-button color="primary" class="mat-button" size="large" (click)="editUser(contenido,user)">Editar</button>
                            </td>
                            <td>
                                <button mat-raised-button color="warn" class="mat-button" size="large" (click)="deleteUser(user.id)">Eliminar</button>
                            </td>
                          </tr>
                        </tbody>
                        </table>
                      </div>
                      <div class="table-responsive" *ngIf="waiting">
                        <app-spinner></app-spinner>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</div>

<ng-template #contenido let-modal>
  <div class="modal-header">
    <h4 class="modal-title">Edita al usuario</h4>
    <button class="close" aria-label="close" type="button" (click)="modal.dismiss()">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="myForm" (ngSubmit)="submitFormulary()">
      <div class="row">
          <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput formControlName="username" placeholder="Username">
              </mat-form-field>
          </div>
          <div class="col-md-4">
              <mat-form-field class="example-full-width">
                <input matInput formControlName="mail" placeholder="Email address" type="email">
              </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="password" placeholder="Password" type="text">
            </mat-form-field>
          </div>
      </div>
      <div class="row">
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="name" placeholder="Nombre" type="text">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="type_user" placeholder="Tipo de usuario" type="text">
            </mat-form-field>
          </div>
          <div class="col-md-4">
            <mat-form-field class="example-full-width">
              <input matInput formControlName="phone" placeholder="Telefono" type="text">
            </mat-form-field>
          </div>
      </div>
      <button mat-raised-button class="btn btn-danger pull-right">Agregar usuario</button>
      <div class="clearfix"></div>
  </form>
  </div>
</ng-template>